body {
  background: #D3A218;
}
h4 {
  margin-top: 25px;
}
.container {
  padding: 0;

  @media screen and (max-width: 520px){
    width: 160px;
  }
}
.row {
  margin-bottom: 20px;
}
.row .row {
  // margin-top: 10px;
  margin-bottom: 0;
}
[class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
  // background-color: #eee;
  // background-color: rgba(86,61,124,.15);
  //border: 1px solid #ddd;
  //border: 1px solid rgba(86,61,124,.2);
}
.col-md-2, .col-md-1 {
  padding: 0px;
  border: 0px;
  background: #fff;

  img {
    //margin: -1px 0 !important;
  }
//   @-moz-document url-prefix() { img {
//     margin: 0 !important;
//   }
// }
}
.col-md-2 {
  @media screen and (min-width: 992px) {
    width: 12.5%;
  }
}
.col-md-1 {
  @media screen and (min-width: 992px) {
    width: 6.25%;
  } 
}

.row:before, .row:after {
  //margin: -5px 0;
  display: none;

  @media screen and (min-width: 520px) {
    margin: -5px 0;
  }
}
.frame {
  background: url(img/stele-frame.svg) no-repeat; 
  background-size: 100%;
  width: 100%;
  min-height: 178px !important;
  position: absolute;
  // float: left;
  // z-index: 5;
}
.frame-l {
  background: url(img/stele-frame-l.svg) no-repeat;
  background-size: contain;
  min-height: 160px;
}
.frame-r {
  background: url(img/stele-frame-r.svg) no-repeat;
  background-size: 100%;
  min-height: 160px;
}
.mudra {
  width: 100%;
  // max-height: 167px;
  // float: left;
  // z-index: -5;
  // clear: none;
  // position: absolute;  
  // margin-top: 1px !important;
}
.group:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}






