<div class="form">
	<section>
		<form name="myform" novalidate  ng-submit="addMudra()">
			<h3>Put up joy!</h3>
			<p>Upload your mudra well-wishes!</p>

			<input type="text" name="fullname" placeholder="full name" ng-model="adding_mudra.fullname" ng-required="true" id="fullname" event-focus="click" event-focus-id="email" autofocus />
			<input type="text" name="title" placeholder="title" ng-model="adding_mudra.title" ng-required="true" />
			<input type="text" name="wish" placeholder="wish" ng-model="adding_mudra.wish" ng-required="true" />
			<input type="email" name="email" placeholder="email" ng-model="adding_mudra.email" ng-required="true" />

			<p class="error" ng-show="myform.email.$invalid && myform.email.$touched">
				Must use a valid email address.
			</p>

			<!-- <input type="password" name="password" placeholder="password" 
			ng-model="user.password" ng-required="true" />

			<p class="error" ng-show="myform.password.$invalid && myform.password.$touched">
				Must enter a password.
			</p> -->

			<button ng-disabled="myform.$invalid" type="submit">Add Mudra</button>
		</form>
	</section>
</div>
<div class="binduContainer" ng-repeat="mudra in mudraData | orderBy:'-timestamp' | limitTo:1">
	<div class="bindu">{{mudra.fullname}}</div>
</div>
<div class="ring1">
<ul>
	<li ng-repeat="mudra in mudraData | orderBy:'-timestamp'">
		<a href="">
			<img class="mudra" ng-src="{{mudra.imageurl}}" ng-alt="{{mudra.title}}" />
			<p>{{mudra.fullname}}</p>
		</a>
	</li>
</ul>
</div>